{% extends 'main.html' %}
{% block titulo %}Home{% endblock titulo %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">

    <div class="col-lg-8 col-sm-12">
      <h1 class="mt-4">{{available.name}}</h1>
      <p class="lead">{{available.description|safe}}</p>
    </div>

    <div class="col-lg-4 col-sm-12">
      <div class="jumbotron jumbotron-fluid sticky-top">
        <div class="container">
          <a class="btn btn-success btn-lg btn-block" href="{{ 'booking' available.url }}" target="_blank" role="button">Booking Now</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
